.header-container{
    height: 56px;
    width: 100vw;
    display: flex;
    position: fixed;
    border-bottom: solid 1px gray;

    .header-start{
        flex: 1;
        .page-title{
            margin: auto;
        }
    }

    .header-middle{
        flex: 2;
    }

    .header-end{
        flex: 1;
    }
}